[Unit]
Description=Daily Periodic Backup of Backup Platform PostgreSQL Metadata
Documentation=https://github.com/mr-karoos/Backup

[Timer]
OnCalendar=*-*-* 03:30:00 UTC
RandomizedDelaySec=1800
Persistent=true

[Install]
WantedBy=timers.target
